<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="has-background-link">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= t('site.title') %></title>
  <meta name="description" content="<%= t('site.description') %>">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="turbolinks-animate">
  <%= yield %>
  <footer class="footer has-background-link has-text-grey-light has-text-centered">
    <a href="javascript: window.location = 'https://unravel.paulmwatson.com?url=' + encodeURIComponent(window.location.toString());" class="has-text-white-ter"><%= t('site.title') %></a>
    <small class="has-text-white-ter">
      (<%= t('common.drag_to_toolbar') %>)
    </small>
    <br>
    <small class="has-text-grey-lighter">
      <%= t('common.built_by') %>
      <a href="https://paulmwatson.com" class="has-text-grey-lighter" rel="noopener">
        Paul Watson
      </a>
    </small>


  </footer>
</body>

</html>